# core objects in pandas

# 1. series

## A Series is a 1-dimensional labeled array capable of holding any data type (int, float, string).

In [1]:
import pandas as pd

In [3]:
ages=pd.Series([21,22,20,23])

In [4]:
ages

0    21
1    22
2    20
3    23
dtype: int64

## with custom index

In [5]:
scores=pd.Series([85,90,78], index=["A","B","C"])

In [6]:
scores

A    85
B    90
C    78
dtype: int64

# 2. DataFrame

## DataFrame is a 2-dimensional labeled data structure (rows + columns).

In [7]:
data={
    "age":[21,22,20],
    "salary":[30000,35000,28000]
}

In [8]:
df=pd.DataFrame(data)

In [9]:
df

   age  salary
0   21   30000
1   22   35000
2   20   28000

# 3. Index & MultiIndex

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
pd.RangeIndex(start=0,stop=3)

RangeIndex(start=0, stop=3, step=1)

# 4️. dtype (data type)

## It tells what kind of data is in column

In [4]:
df = pd.DataFrame({
    "Age": [20, 21, 22],
    "Name": ["A", "B", "C"]
})

In [5]:
df.dtypes

Age      int64
Name    object
dtype: object

# type conversion

In [6]:
df["Age"]=df["Age"].astype(float)

In [7]:
df.dtypes

Age     float64
Name     object
dtype: object

# 5. data input(read_csv, read_excel, read_json)

## Data input = bringing your dataset from a file into Pandas so you can clean it and use it for ML.

 ## No data in Pandas → no ML.

## read_csv()

In [10]:
import os

In [11]:
os.listdir()

['.ipynb_checkpoints', 'sample_submission.csv', 'Untitled.ipynb']

In [13]:
df=pd.read_csv("sample_submission.csv")

In [14]:
df

            id  accident_risk
0       517754          0.352
1       517755          0.352
2       517756          0.352
3       517757          0.352
4       517758          0.352
...        ...            ...
172580  690334          0.352
172581  690335          0.352
172582  690336          0.352
172583  690337          0.352
172584  690338          0.352

[172585 rows x 2 columns]

# head()

In [4]:
df = pd.read_csv("country_wise_latest.csv")

## by default it shows first 5 rows

In [5]:
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

## custom number of rows

In [6]:
df.head(10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe